.DS_Store
.dart_tool/

.packages
.pub/

build/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
example/macos/Podfile
example/macos/Flutter/Flutter-Debug.xcconfig
example/macos/Flutter/Flutter-Release.xcconfig
